<footer>
    <div class="footer-container">
        <div>
            <p>Looking for a web developer?</p>
            <a href="mailto:cbb5104@gmail.com">
                <h1>Contact Me</h1>
            </a>
        </div>
        

        <ul>
            <li>
                <a href="https://github.com/TunaSurf" title="Github" class="github">
                    <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="https://codepen.io/TunaSurf/" title="Codepen" class="codepen">
                    <i class="fa fa-codepen fa-lg" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/chase-burgess-7a94ab8a/" title="LinkedIn" class="linkedin">
                    <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="https://dribbble.com/TunaSurf" title="Dribbble" class="dribbble">
                    <i class="fa fa-dribbble fa-lg" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
    <p>2018 | Chase Burgess</p>
</footer>


<!-- Client Side JS -->
<!-- Only run on projects page -->
<% if(home) { %>
    <script src="/js/portfolio.js"></script>
<% } %>

</body>
</html>