<% include partials/header %>
<div class="about-container">

    <div class="profile">
        <div class="prof-container">
            <div class="bio">
                <h5>Name &nbsp; &nbsp;</h5>
                <h4>Chase Burgess</h4>
                <h5>Location &nbsp; &nbsp;</h5>
                <h4>Virginia Beach, VA</h4>
            </div>
            <img src="../assets/SelfPortrait.jpg" alt="Chase Portrait" class="prof-pic">
        </div>
    </div>

    <div class="prof-border"></div>
    
    <div class="about-me">
        <div class="about-description">
            <h3>About &nbsp; &nbsp;</h3>
            <p>
                I am a passionate web developer, designer, and project manager based 
                out of Virginia Beach, VA.
                <br><br>
                Along with my technical background in engineering, I have a 
                passion for crafting beautifully simple user-oriented experiences. Although
                I am practiced in all aspects of development, I most enjoy the problem 
                solving and techniques involved with javascript and React development.
                <br><br>
                In my free time I'm most likely: 
                <ul>
                    <li>- Surfing (or wishing the waves were better)</li>
                    <li>- Perfecting the art of cooking a frozen pizza</li>
                    <li>- Drinking a local brew followed by an orange crush</li>
                </ul>
            </p>
        </div>
        <div class="about-description">
            <h3>Skillset &nbsp; &nbsp;</h3>
            <ul>
                <li>JavaScript</li>
                <li>React</li>
                <li>HTML</li>
                <li>CSS/Sass</li>
                <li>NodeJS</li>
                <li>Command Line</li>
                <li>Git</li>
                <li>Adobe Creative Cloud</li>
                <li>Responsive Web</li>
                <li>Front-end Frameworks</li>
                <li>Back-end Databases</li>
                <li>Data Visualization</li>
                <li>Prototyping</li>
            </ul>
        </div>
        <div class="about-description">
            <h3>Find Me On &nbsp; &nbsp;</h3>
            <p>
                <a href="https://github.com/TunaSurf">Github</a> &nbsp;| &nbsp;<a href="https://codepen.io/TunaSurf/">Codepen</a> &nbsp;| &nbsp;<a href="https://www.linkedin.com/in/chase-burgess-7a94ab8a/">LinkedIn</a> &nbsp;| &nbsp;<a href="https://dribbble.com/TunaSurf">Dribbble</a>
            </p>
        </div>
    </div>
    


</div>


<script>
    document.title = "Chase Burgess | About";
</script>

<% include partials/footer %>